
/* Arizonia */

@font-face {
    font-family: 'Arizonia-Regular';
    src: url('../fonts/Arizonia-Regular.ttf');
}
/* graphic */

@font-face {
    font-family: 'Graphik-Light';
    src: url('../fonts/GRAPHIKLIGHT.OTF');
}

@font-face {
    font-family: 'Graphik-Regular';
    src: url('../fonts/GRAPHIKREGULAR.OTF');
}

@font-face {
    font-family: 'Graphik-Medium';
    src: url('../fonts/GRAPHIKMEDIUM.OTF');
}

@font-face {
    font-family: 'Graphik-Bold';
    src: url('../fonts/GRAPHIKBOLD.OTF');
}

/* roboto */

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

/* poppins */

@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

/* Mon */

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Impact';
    src: url('../fonts/Impact.ttf');
}

/* LoversQuarrel */

@font-face {
    font-family: 'LoversQuarrel-Regular';
    src: url('../fonts/LoversQuarrel-Regular.ttf');
}

/* oswald */

@font-face {
    font-family: 'Oswald-Light';
    src: url('../fonts/Oswald-Light.ttf');
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.ttf');
}
@font-face {
    font-family: 'Oswald-Medium';
    src: url('../fonts/Oswald-Medium.ttf');
}
@font-face {
    font-family: 'Oswald-SemiBold';
    src: url('../fonts/Oswald-SemiBold.ttf');
}
@font-face {
    font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald-Bold.ttf');
}

/* OpenSans */

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf');
}





